.title {
   font-family: aesop, sans-serif;
   font-size: 3.5em;
   font-weight: 500;
   /* letter-spacing: 2px; */
   line-height: 1.5em;
   text-align: center;
   color: var(--primary);
   margin: .45em 0;
}

.save-the-date-container {
   margin-top: 2em;
   margin-bottom: 3em;
}

.save-the-date p {
   font-size: 1.4em;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 4px;
   margin: 0;
}

.date {
   font-weight: 300;
   padding-bottom: .75em;
}

.save {
   font-weight: 600;
}

.question p {
   font-family: aesop, sans-serif;
   font-size: 1.4em;
   line-height: 2em;
   text-transform: uppercase;
   text-align: center;
   margin: 3.25em 0 1.5em;
   padding: 0 2em;
}

.answer-btns-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2em;
   text-align: center;
}

.answer-btns-container button {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   border-radius: 5px;
}

.answer-btn-yes {
   font-size: 1.35em;
   background-color: var(--primary);
   padding: .75em 2em;
   margin-right: 1em;
   border: none;
}

.answer-btn-yes a {
   color: var(--secondary);
   text-decoration: none;
}

.answer-btn-no {
   font-size: .95em;
   background-color: transparent;
   padding: .8em 2.1em;
   border: 1px solid var(--dark-text);
}

.answer-btn-no a {
   color: var(--dark-text);
   text-decoration: none;
}

.maps-guests-btn button {
   background-color: transparent;
   padding: 1.35em 1.65em;
   border: 1px solid var(--dark-text);
   border-radius: 5px;
}

.link {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.35em;
   font-weight: 500;
   color: var(--dark-text);
   text-decoration: none;
}

/* location */
.location-contrainer {
   text-align: center;
   padding: 2.5em 0 0;
}

.location-header svg {
   fill: var(--dark-text);
}

.location-header h2 {
   display: inline-block;
   font-family: aesop, sans-serif;
   font-size: 1.25em;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.location-address p {
   font-size: 1.05em;
   font-weight: 300;
   text-transform: uppercase;
   line-height: 2em;
   margin: 0;
}

.location-address p span {
   display: block;
   font-weight: 600;
}

.location-map {
   padding: 1.5em 0 4em;
}


/* guess list */
.guess-list-container {
   text-align: center;
   margin-bottom: 8em;
}

.guess-list-container h2 {
   font-family: aesop, sans-serif;
   font-size: 1.25em;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
}

