.location-contrainer {
   text-align: center;
   padding: 2.5em 0 0;
}

.location-header svg {
   fill: var(--dark-text);
}

.location-header h2 {
   display: inline-block;
   font-family: aesop, sans-serif;
   font-size: 1.25em;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.location-address p {
   font-size: 1.05em;
   font-weight: 300;
   text-transform: uppercase;
   line-height: 2em;
   margin: 0;
}

.location-address p span {
   display: block;
   font-weight: 600;
}

.location-map {
   padding: 1.5em 0 4em;
}

.location-map button {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.1em;
   color: var(--dark-text);
   background-color: transparent;
   padding: 1em 2.1em;
   border: 1px solid var(--dark-text);
   border-radius: 5px;
}